server:
  port: 8081
  error:
    include-binding-error: always
    include-exception: true
    include-stacktrace: always
    include-message: always

spring:
  application:
    name: titan-ledger-core

  # --- BANCO DE DADOS ---
  datasource:
    url: jdbc:postgresql://localhost:5432/titan_ledger
    username: titan_user
    password: titan_password
    driver-class-name: org.postgresql.Driver

  # --- JPA ---
  jpa:
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  # --- MIGRATIONS ---
  flyway:
    enabled: true
    baseline-on-migrate: true

  # --- KAFKA ---
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: titan-ledger-group
      auto-offset-reset: earliest

  # --- CACHE ---
  cache:
    type: redis
    redis:
      time-to-live: 600000
  data:
    redis:
      host: localhost
      port: 6379

# --- OBSERVABILITY & METRICS ---
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always
  
  # Configuração de Tracing
  tracing:
    sampling:
      probability: 1.0 # 100% das requests

  # Configuração do Exportador Zipkin (usado pelo OTel)
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans

  metrics:
    web:
      server:
        requests:
          autotime:
            enabled: true

# --- LOGS ---
logging:
  level:
    root: INFO
    com.titan.ledger: INFO
    org.springframework.web: INFO
    # Debug para OTel/Zipkin
    io.opentelemetry: DEBUG 
    org.springframework.boot.actuate.autoconfigure.tracing: DEBUG
  pattern:
    level: '%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]'